@font-face {
    font-family: To Japan;
    src: url(./18595.ttf);
}

@font-face {
    font-family: Hammer Fat;
    src: url(./18138.ttf);
}

@font-face {
    font-family: Comic Helvetic;
    src: url(./18177.otf);
}