.rectangle {
    background: #484646;
    transform: rotate(45deg);
    width: 450px;
    position: absolute;
    margin-left: 47px;
    margin-top: 21px;
    height: 450px;
}

@media (max-width: 840px) {
    .rectangle {
        display: none;
    }
}