.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery .gallery__item {
    position: relative;
    max-width: 440px;
    margin-top: 40px;
    height: 500px;
    overflow: hidden;
}