.contexts-box {
    display: flex;

    .contexts-box__open-button {
        margin-right: 10px;
        height: 10px;
    }
}

.conditionsForRilter {
    display: flex;
    font-size: 15px;
    text-transform: capitalize;
    flex-direction: column;
}

.checkboxField {
    margin: 10px;
}