.contexts-box {
    position: relative;
    display: flex;
    flex-direction: column;

    .contexts-box__open-button {
        margin-right: 10px;
        white-space: nowrap;
        color:#3380e0;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 240px;

        .section-title {
            color: rgb(214, 214, 214);
        }

        .selectedFilters {
            font-size: 12px;
            margin-left: 5px;
            color:#3380e0;
            text-transform: capitalize;
        }
    }

    .contexts-box__result-separator{
        width: 236px;
        border-color: #707070;
    }

    .checkboxField--all-filters {
        font-style: italic;
    }

    .contexts-box__result {
        display: flex;
        padding: 3px 5px;
        font-size: 15px;
        box-sizing: border-box;
        width: 240px;
        max-height: 200px;
        overflow: scroll;
        text-transform: capitalize;
        flex-direction: column;
        overflow-x: hidden;
    }

    .contexts-box__conditions-for-filter {
        display: flex;
        top: 22px;
        padding: 3px 5px;
        position: absolute;
        z-index: 1;
        background: #2f3031;
        border: 1px solid #4a4b4c;
        font-size: 15px;
        box-sizing: border-box;
        width: 240px;
        max-height: 200px;
        overflow: scroll;
        text-transform: capitalize;
        flex-direction: column;
        overflow-x: hidden;
    }


    .checkboxField {
        margin: 15px 0 0;
    }

    .checkboxField:first-child {
        margin: 0;
    }
}

.section-top-border {
    width: 238px;
    margin-right: -10px;
    margin: 0;
    z-index: 2;
    top: 18px;
    height: 4px;
    border-radius: 5px;
    background: #0f64d0;
    border: 1px solid #0f64d0;
    position: absolute;
}

::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-width:1px 1px 1px 2px;
    background-color: #0f0f0f;
}
