.search-section {
    display: flex;
    margin: 5px 0;

    .search-section__search-button {
        cursor: pointer;
        margin-right: 10px;
    }

    .search-button {
        max-width: 13px;
    }

    .search_section__search-name {
        background: rgb(112, 112, 112);
        border: 1px solid rgb(190, 190, 190);
    }

    .modeList{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: rgb(15, 15, 15);
        border: 1px solid #bebebe;
        color: #d3d3d3;
        cursor: pointer;
        border-radius: 2px;
        padding-left: 7px;
        margin-left: 5px;
    }
}